<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Training</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>Model Training Status</h1>
        <p class="result_text">{{ message }}</p>

        <a href="/" style="color:white; text-decoration:none;">
            <button>⬅ Back to Home</button>
        </a>
    </div>
</body>

</html>